@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --head-foot-color: white;
  --head-foot-bg: black;
  --nav-hover-bg: #374047;
  --nav-hover-color: silver;
}

body {
  font-size: 1.6rem;
  font-family: Arial, Helvetica, sans-serif;
}

/* style the header*/
header {
  position: relative;
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 1fr;
  grid-template-rows: 1fr 0.7fr;
  background-color: black;
  padding: 0rem;
  grid-template-areas: "logo search search" "logo lang menu";
}
header img {
  width: 20rem;
  height: 20rem;
  grid-area: logo;
}
header .search-bar {
  display: flex;
  border: 2px solid;
  border-color: white;
  padding: 2px;
  border-radius: 100px;
  background-color: transparent;
  width: 4.8rem;
  height: 4.8rem;
  grid-area: search;
  align-self: center;
  justify-self: flex-end;
  margin-right: 15rem;
}
header .search-input {
  background-color: transparent;
  font-size: 1.6rem;
  padding: 0 5px;
  margin: 0 17px;
  color: white;
  border: 0;
  width: 22rem;
  display: none;
}
header .search-input:focus {
  outline: 0;
}
header .search-submit {
  font-size: 2.5rem;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: white;
  color: black;
  border: 0;
  cursor: pointer;
}
header .search-bar:focus-within {
  width: 30rem;
  padding-right: 4px;
}
header .search-bar:focus-within .search-input {
  display: block;
}
header .language-select select {
  background-color: white;
  padding: 1rem 0rem;
  width: 15rem;
  font-size: 1.6rem;
  outline: 0;
  font-weight: bold;
  cursor: pointer;
  color: black;
  grid-area: lang;
  margin-top: 3rem;
}
header .menu-btn {
  border: 0;
  background-color: transparent;
  grid-area: menu;
}
header .menu-btn i {
  border: 2px solid white;
  padding: 1rem 2rem;
  font-size: 4rem;
  color: white;
}
header .menu-btn nav {
  position: absolute;
  top: 19rem;
  left: 0;
  right: 0;
  z-index: 2000;
  background-color: #374047;
  display: none;
}
header .menu-btn ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
header .menu-btn .main-list > a {
  color: white;
  text-decoration: none;
  padding: 1rem;
  font-size: 2rem;
  margin-bottom: 2rem;
}
header .menu-btn .nested-list > a {
  background-color: #374047;
  transition: all 0.5s;
  text-decoration: none;
  font-size: 1.6rem;
  padding: 1rem;
  color: black;
}
header .menu-btn nav ul li {
  list-style: none;
  padding: 2rem;
}
header .menu-btn:hover i {
  border-color: #374047;
  color: #374047;
}
header .menu-btn:hover nav {
  display: block;
  transition: all 0.5s;
}
header .menu-btn:hover nav .main-list:hover > a {
  color: lightgrey;
  border-bottom: 2px solid #606e79;
}
header .menu-btn:hover nav .nested-list:hover a {
  box-shadow: inset 0px 0px 10px white;
}
header .large-screen {
  margin-top: 2rem;
  grid-area: nav;
  display: none;
  position: relative;
  background-color: black;
}
header .large-screen a {
  color: white;
  text-decoration: none;
  padding: 2rem;
  font-size: 2rem;
}
header .large-screen ul {
  display: flex;
  justify-content: space-around;
}
header .large-screen ul .main-list ul {
  position: absolute;
  display: none;
  left: 0;
  right: 0;
  top: 6rem;
  z-index: 2000;
}
header .large-screen ul .main-list ul .nested-list {
  background-color: #374047;
  transition: all 1s;
}
header .large-screen ul li {
  list-style: none;
  padding: 2rem;
}
header .large-screen:hover .nested-list:hover {
  color: lightgray;
  background-color: grey;
}
header .large-screen:hover .nested-list:hover a {
  color: lightgray;
}
header .large-screen:hover ul li:hover ul {
  display: block;
}
header .large-screen:hover .main-list:hover > a {
  transition: all 0.5s;
  background-color: #374047;
  color: rgb(197, 185, 185);
}

/* style the main of the home page*/

main .openning {
  width: 100%;
  background: url(../images/sphinx-sunset.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10rem;
}
main .openning p {
  font-family: "Courgette", cursive;
  font-size: 2rem;
  font-weight: 500;
  color: white;
  text-shadow: 2px 2px 2px black;
}
main .openning p span {
  font-weight: 600;
  color: silver;
  font-size: 2.5rem;
}
main .openning:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/sphinx-sunset.jpg");
}

.cards {
  margin: 5rem 2rem;
}
main .cards .cards-items {
  position: relative;
  width: 80%;
  height: 35rem;
  margin: 2rem auto;
  background-color: black;
  border-radius: 20px;
}
main .cards .cards-items img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  border-radius: 20px;
}
main .cards .cards-items .card-text {
  position: absolute;
  top: 84%;
  left: 0;
  color: white;
  text-shadow: 2px 2px 2px black;
  padding: 2rem;
  transition: all 0.5s ease-in;
}
main .cards .cards-items .card-text h4 {
  margin-bottom: 2rem;
}
main .cards .cards-items .card-text p {
  line-height: 3rem;
  display: none;
}
main .cards .cards-items:hover img {
  opacity: 0.5;
}
main .cards .cards-items:hover .card-text {
  transform: translateY(-100%);
}
main .cards .cards-items:hover .card-text p {
  display: block;
}

.gallery {
  width: 50%;
  margin: 10rem auto;
  border: 1px solid lightgray;
}

.carousel-item {
  width: 100%;
  height: 100%;
}

.carousel-item img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  object-position: center;
}

.gallery h1,
.gallery p {
  text-shadow: 2px 2px 2px black;
}

.gallery button {
  background: var(--nav-hover-bg);
  border: 0;
  border-radius: 5px;
  padding: 1rem;
  font-size: 1.6rem;
}

.gallery button:hover {
  background-color: #606e79;
}

.top {
  position: sticky;
  bottom: 10%;
  left: 95%;
  z-index: 1000;
  width: 6rem;
  height: 6rem;
  background-color: rgb(172, 185, 185);
  border-radius: 50%;
  font-size: 3rem;
  text-align: center;
  line-height: 7rem;
}

.top:hover {
  background-color: #374047;
  color: white;
}

main > a {
  color: #374047;
}


/* style the main of the gallery page*/

.wrapper {
  background-color: rgb(228, 220, 220);
}

.gallery-text {
  width: 100%;
  background: url(../images/sunset.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5rem;
}

.gallery-text h1 {
text-align: center;
line-height: 5rem;
color: white;
padding: 4rem;
text-shadow: 2px 2px 2px black;
}

.photos {
  margin: 0 2rem;
}
main .photos .photos-item {
  position: relative;
  width: 80%;
  height: 35rem;
  margin: 2rem auto;
  background-color: black;
  border-radius: 20px;
}
main .photos .photos-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 20px;
}
main .photos .photos-item .photos-text {
  position: absolute;
  top: 80%;
  left: 0;
  color: white;
  text-shadow: 2px 2px 2px black;
  padding: 2rem;
  transition: all 0.5s ease-in;
}
main .photos .photos-item .photos-text h4 {
  margin-bottom: 2rem;
}
main .photos .photos-item .photos-text p {
  line-height: 3rem;
  display: none;
}
main .photos .photos-item:hover img {
  opacity: 0.5;
}
main .photos .photos-item:hover .photos-text {
  transform: translateY(-80%);
}
main .photos .photos-item:hover .photos-text p {
  display: block;
}


/* style the main of the flight page*/
.flight-text {
  width: 100%;
  background: url(../images/airport.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5rem;
}

.flight-text h1 {
text-align: center;
line-height: 5rem;
color: white;
padding: 4rem;
text-shadow: 2px 2px 2px black;
}


/* style the main of the contact page*/
.contact-text {
  width: 100%;
  background: url(../images/contact.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5rem;
}

.contact-text h1 {
text-align: center;
line-height: 5rem;
color: rgb(109, 211, 189);
padding: 4rem;
text-shadow: 2px 2px 2px black;
}

.contact-wrapper {
  
}
form {
  width: 80%; 
  margin: 5rem auto; 
  color: rgb(34, 15, 15);
  background: linear-gradient(transparent, rgb(226, 221, 221)); 
  backdrop-filter: blur(100px);
}

form h2 {
  font-size: 3.5rem;
  font-weight: 300;
padding: 2rem;
text-align: center;
}

form p {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
}

fieldset {
  text-align: center;
  border: 0;
}
form label {
  display: block;
  text-align: left;
  background-color: rgb(65, 63, 63);
  color: white;
  border: 0;
  padding: .5rem;
  width: 50%;
  margin: 0 auto;
}

form input, form textarea {
 
  background-color: white;
  color: black;
  border: 0;
  padding: 1rem;
  width: 50%;
  margin: 0 auto 1rem;
}

form button {
  border: 0;
  background-color: rgb(65, 63, 63);
  padding: .5rem;
  text-align: center;
  color: white;
  width: 50%;
  margin: 0 auto 2rem;
  font-size: 2.5rem;
  font-style: italic;
}

form button:hover {
  background-color: #606e79;
  cursor: pointer;
}

.contact-details {
  width: 80%; 
  margin: 5rem auto; 
  color: rgb(34, 15, 15);
  background: linear-gradient(transparent, rgb(226, 221, 221)); 
  backdrop-filter: blur(100px);
}

.contact-details h2 {
  padding: 2rem;
  border-bottom: 2px solid grey;
}

.contact-details i {
  color: royalblue;
  font-size: 3rem;
}

.contact-details div {
  padding: 2rem;
  border-bottom: 2px solid grey;
}

.contact-details h3 {
  margin-bottom: 1rem;
}

.contact-details p {
  line-height: 4rem;
}


/* style the footer*/
footer {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  color: white;
  background-color: black;
}
footer .design {
  border-bottom: 2px solid darkgrey;
  color: gray;
  text-align: left;
  margin-bottom: 2rem;
}
footer .design q {
  font-style: italic;
  font-family: "Courgette", cursive;
}
footer div h3 {
  text-transform: uppercase;
}
footer ul li {
  list-style: none;
  margin: 2rem 0;
}
footer .contact {
  border-bottom: 2px solid darkgrey;
  margin-bottom: 2rem;
}
footer .contact a {
  color: white;
  text-decoration: none;
  padding: 1rem;
  font-size: 1.3rem;
}
footer .contact a:hover {
  box-shadow: inset 0px 0px 10px white;
  color: royalblue;
}
footer .contact i {
  color: rgb(185, 115, 115);
  font-size: 2rem;
}
footer .social-media a {
  color: white;
  text-decoration: none;
  padding: 1rem;
  font-size: 1.6rem;
}
footer .social-media a i {
  font-size: 2rem;
}
footer .social-media a:hover span {
  border-bottom: 2px solid white;
}
footer .social-media a:hover i {
  color: rgb(0, 153, 255);
}

@media (min-width: 768px) {
  .photos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 30rem;
    gap: 1rem;
  }
  main .photos .photos-item {
    width: 100%;
    height: 30rem;
  }
  footer {
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }
  footer .design {
    border: 0;
    align-self: flex-start;
  }
  footer div {
    align-self: flex-start;
  }
  footer .contact {
    border: 0;
  }
}
@media (min-width: 1134px) {
  header {
    grid-template-areas: "logo lang search" "logo nav nav";
  }
  header .search-bar {
    margin-right: 30rem;
  }
  header .menu-btn {
    display: none;
  }
  header .large-screen {
    display: block;
  }
  .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 35rem;
    gap: 3rem;
  }
  main .cards .cards-items {
    width: 100%;
    height: 35rem;
  }
  .photos {
    display: grid;
    grid-template-columns: 1fr .2fr 1fr .2fr 1fr;
    grid-auto-rows: 30rem;
    gap: 1.6rem;
  }
  main .photos .photos-item {
    width: 100%;
    height: 30rem;
  }

  .col-span {
    grid-column: span 2;
  }

  .contact-wrapper {
    display: flex;
  }

  form {
    width: 50%;
  }
  .contact-details {
    width: 25%;
  }
}
